.download-links {
  margin-top: 60px; /* Ajusta este valor según la altura de tu Navbar */
  display: flex;
  gap: 20px;
  justify-content: center;
}

.download-section {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Añadir margen superior para separar el botón del label */
}

.download-button .icon {
  margin-right: 8px;
}

.download-button:hover {
  background-color: #0056b3;
}