.download-links {
  width: 98%;
  margin: 1%;
  margin-top: 60px; /* Ajusta este valor según la altura de tu Navbar */
  display: flex;
  gap: 20px;
  justify-content: center;
}

.download-section {
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  gap: 0;
}

.download-button {
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: row; /* Asegúrate de que los elementos estén en una fila */
  align-self: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 10px; /* Ajusta este valor según sea necesario */
}

.lblButton {
  color: white;
  width: auto;
  display: flex;
  align-items: center;
}

.download-button:hover {
  background-color: #0056b3;
}

.icon {
  margin-right: 5px;
}